header {
  background-color: azure;
  width: 100%;
}

body {
  background-color: azure;
}

main {
  padding: 5px;
}

.topbanner {
  background-color: steelblue;
}

bannerlogo {
  color: mediumblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  display: block;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.navbar li.navitem {
  float: left;
}

ul.navbar li.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li.navitem a:hover {
  background-color: azure;
  color: black;
}

ul.navbar li.navitem.active {
  background-color: Teal;
}
