header {
  background-color: #4c4c4c;
  width: 100%;
}

body {
  background-color: #f2f1f0;
  color: #3c3c3c;
  margin: 0px;
}

main {
  padding: 5px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16),
    0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

ul.navbar li.navitem {
  float: left;
}

ul.navbar li.navitem a {
  display: block;
  color: #f2f1f0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li.navitem a:hover {
  background-color: azure;
  color: black;
}

ul.navbar li.navitem.active {
  background-color: #e95420;
}

ul.navbar li.navitem.login {
  float: right;
  background-color: #aea79f;
  color: #3c3c3c;
}

ul.navbar li.navitem.login li.navitem.active {
  float: right;
  background-color: #e95420;
  color: #3c3c3c;
}

.topbanner {
  background-color: inherit;
}

.bannerlogo {
  color: #aea79f;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  display: block;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

.diceContainer {
  position: relative;
  background-color: darkblue;
  width: 100px;
  height: 100px;
  color: black;
}
.diceimage {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0%;
}
.center {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  top: 35%;
}

/* Style the footer */
.footer {
  height: 45px;
  background-color: #4c4c4c;
  color: #f2f1f0;
  margin-top: 20px;
  padding-top: 10px;
  /*position: fixed;*/
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.footer .p {
  position: absolute;
  text-align: center;
  top: 30%;
}

/* to be used at a later time*/
/*.gtk_color_scheme {
@define-color bg_color #f2f1f0;
@define-color fg_color #4c4c4c;
@define-color base_color #ffffff;
@define-color text_color #3C3C3C;
@define-color selected_bg_color #f07746;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #ffffff;
}*/
