table.store_table {
  border: 1px solid black;
  margin: auto;
  max-width: 600px;
}
table.store_table tbody tr:hover {
  /* background-color: blue !important;*/
}
td img {
  max-width: 150px;
  max-height: 150px;
}

.item_view_box {
  max-width: 600px;
  margin: auto;
}

.action_links {
  display: inline-block;
}
.action_links a:any-link {
    display: inline-block;
    background-color: #e95420;
    color: #f2f1f0;
    text-align: center;
    margin: 10px;
    padding: 14px 16px;
    text-decoration: none;
    max-width: 100px;
    float: left;
  }

  main{
      max-width: 600px;
      margin: auto;
  }