header {
  background-color: azure;
  width: 100%;
}

body {
  background-color: azure;
  margin: 0px;
}
/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

main {
  padding: 5px;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

.topbanner {
  background-color: steelblue;
}

.bannerlogo {
  color: mediumblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  display: block;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.navbar li.navitem {
  float: left;
}

ul.navbar li.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li.navitem a:hover {
  background-color: azure;
  color: black;
}

ul.navbar li.navitem.active {
  background-color: Teal;
}

.diceContainer{
    position: relative;
    background-color: darkblue;
    width: 100px;
    height: 100px;
    color: chartreuse;   
}
.diceimage{
    box-sizing: inherit;
    position: absolute;
    top: 0%;
}
.center {
    position: absolute;
    left: 0;
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: 40px;
    top: 50%;
}
